@media screen and (max-width: 576px) {

  /* Universal */
  main>section {
    max-width: 90%;
    /* margin: 40px auto; */
  }

  /* header, nav, hero section */
  header {
    max-width: 100%;
    padding: 0px 5%;

  }

  /* nav */
  .nav-menu-items {
    display: none;
  }

  .nav-line-bars {
    display: block;
  }

  /* hero section */
  .hero-section {
    flex-direction: column;
  }

  .hero-contents-column {
    width: 100%;
  }

  .hero-content-title {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  .btn {
    padding: 10px 25px;
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .hero-badge-1 {
    width: 40%;
    top: 140px;
    left: 185px;
    padding: 10px 15px;
  }

  .hero-badge-1 h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  .hero-badge-2 {
    bottom: 320px;
    right: 10px;
  }

  /* habits section style */
  .section-header {
    max-width: 100%;
  }

  .section-title {
    font-size: 2rem;
  }

  .habits-card-container {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
  }

  /* Run section style */
  .run-section {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    padding-top: 20px;
  }
  .run-contents-column{
    padding: 0px 15px;
  }
  .run-img-column{
    padding: 30px 15px;
    padding-bottom: 20px;
  }
  .run-btn {
    width: 100%;
  }
  /* BMI section styles... */
  .bmi-section-header {
    width: 90%;
  }
  .bmi-column-row{
    width: 95%;
    flex-direction: column; 
    gap: 40px;

  }
  .bmi-table-column {
    width: 100%;
  }
  .bmi-form-column{
    width: 100%;
  }
  .bmi-form input{
    width: 100%;
  }
  .bmi-form input{
    padding: 15px 5px;
  }
  #activity-factor{
    padding: 12px 5px;
  }
  /* Team section styles start */
  .team-section {
    max-width: 90%;
  }

  .team-members-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-profile {
    bottom: 70px;
    left: 15px;
  }
  /* Unique section styles */
  .pricing-card-container{
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    gap: 65px;
  }
  .personal-service-card{
    background-color: #FF592D;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .pricing-card:hover{
    transform: scale(0.9);
    transition-duration: 1s;
  }
  /* Footer styles ... */
  .footer-section {
    max-width: 95%;
  }

  .footer-column-container {
    flex-direction: column;
    gap: 20px;
  }

}