/* Inter font */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Miama font */
@font-face {
  font-family: "Miama";
  src: url(../fonts/Miama.otf);
  src: url(../fonts/Miama.ttf);
}
/* bari sans font */
@font-face {
  font-family: "Bari sans";
  src: url(../fonts/barisans-medium.otf);
}
/* universal style */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared and common styles */
.hide{
  display: none;
}
body{
  background-color: #000000;
}
main > section{
  max-width: 80%;
  margin: 40px auto;
}
img{
  width: 100%;
}
.btn{
  padding: 10px 40px;
  border: none;
  border-radius: 42px;
  background-color: #E6533C;
  color: white;
  font-size: 1.125rem;
}
.d-flex{
  display: flex;
}
.margin-b-20{
  margin-bottom: 20px;
}
.margin-b-30{
  margin-bottom: 30px;
}
.margin-b-15{
  margin-bottom: 15px;
}
.color-bright{
  color: #FF592D;
}
.bg-bright{
  color: #FF592D;
}
/* section header style start */
.section-header{
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
 }
 .section-title{
   font-size: 3rem;
   color: white;
   font-weight: 700;
 }
 .section-desc{
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5rem;
   color: rgba(255, 255, 255, 0.5);
   margin: 14px 0px;
 }
/* section header style end */
 
.primary-color{
  color: #FFFFFF;
}
.secondary-color{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: rgba(255, 255, 255, 0.5);
}
.padding-b-14{
  padding-bottom: 14px;
}
.padding-x-15{
 padding-top: 15px;
 padding-bottom: 15px;
}
.padding-x-20{
 padding-top: 20px;
 padding-bottom: 20px;
}
/* bg and text color */
.primary-bg-color{
  background-color: #E6533C;
}
.primary-text-color{
  color: #E6533C;
}

/* all styles */
/* header styles */
header{
  max-width: 100%;
  padding: 0px 10%;
  margin: 0 auto;
  /* margin-bottom: 50px; */
  background-color: rgba(48, 48, 48, 0.54);
  
}
/* nav style */
.navbar{
  justify-content: space-between;
  align-items: center;
  padding: 52px 0px;
}
.nav-brand{
 color: #E6533C;
 font-style: italic;
 font-size: 2.25rem;
 font-weight: 900;
}
#nav-colored-btn{
  background-color: #E6533C;
  border: none;
  border-radius: 46px;
  margin: 3px;
  padding: 12px 25px;
}
.nav-menu-items{
  align-items: center;
  gap: 20px;
  list-style: none;
  border: 1px solid white;
  border-radius: 40px;
}
.nav-menu-items li a{
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  color: white;
}
/* bars for mobile nav */
.nav-line-bars i{
  font-size: 1.7rem;
  color: white;
}

/* hero section style */
.hero-section{
  justify-content: space-between;
  align-items: center;
}
.hero-contents-column{
  width: 50%;
}
.hero-content-title{
  font-size: 4.87rem;
  font-weight: 900;
  line-height: 6.5rem;
}
#spacial-font{
  font-family: "Miama";
  font-size: 5.87rem;
  font-weight: 500;
}
.hero-img-column{
  margin-top: -70px;
  margin-bottom: -82px;
}
.hero-btn-1{
  margin-right: 14px;
} 
.hero-btn-2{
  border: 1px solid white;
  background-color: #000000;
}
.hero-img-column .badge{
  padding: 10px 20px;
  background-color: rgba(48, 48, 48, 0.54);
  color: white;
  border-radius: 12px;
}
.hero-badge-1{
  width: 50%;
  position: relative;
  top: 220px;
  left: 220px;
}
.hero-badge-1 h1{
  font-size: 2.5rem;
  font-weight: 900;
}
.hero-badge-1 span{
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.65);
}
.hero-badge-2{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 160px;
  right: 110px;
}
.hero-badge-2 .badge-circle{
  width: 40px;
  height: 40px;
  background-color: #E6533C;
  border-radius: 50%;
}
.hero-badge-2 .badge-data h3{
  font-size: 1.5rem;
}
/* habits section styles */
.habits-section{
  padding: 40px 0px;
}
.habits-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 50px 0px;
}
.habits-card{
  max-width: 230px;
  text-align: center;
}
.habits-card img{
  max-width: 180px;
  max-height: 180px;
  border-radius: 100%;
  margin-bottom: 30px;
  
}
.habits-card .hab-card-title{
  font-size: 1.125rem;
  font-weight: 600;
  color:#FFFFFF;
  margin-bottom: 6px;
}
.habits-card .hab-card-desc{
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: rgba(255, 255, 255, 0.5);
}
/* Run section style */
.run-section{
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  border-radius: 18px;
}
.run-contents-column{
  padding: 0px 40px;
}
.run-img-column{
  padding: 30px 32px;
}
.run-img-column img{
  border-radius: 15px;
}
.run-btn{
  padding: 10px 60px;
  font-size: 1rem;
}

  /* BMI Section styles.. */
  .bmi-section {
    max-width: 100%;
  }
  .bmi-section-header {
    text-align: left;
    margin: 70px auto;
  }
  .bmi-section-container{
    max-width: 100%;
    padding: 50px 0px;
    background-color: rgba(255, 255, 255, 0.13);
  }
  .bmi-column-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
  }
  .bmi-table-column {
    width: 50%;
  }
  .bmi-table-column table{
    border-collapse: collapse;
  }
  .bmi-table-column tr, th, td {
    padding: 15px 20px;
    padding-right: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .bmi-table-column th{
    color: white;
    text-align: left;
  }
  .bmi-table-column td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
  }
  .bmi-col-heading {
    color: white;  
    font-size: 2rem;
    font-weight: 700;
  }
  .bmi-form-column {
    width: 50%;
  }
  .bmi-form{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .bmi-form input{
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.13);
    
  }
  #activity-factor{
    grid-column: span 2;
    padding: 12px;
    margin-bottom: 15px;
  }
  .bmi-col-desc{}

/* Team section styles start */
.team-members-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 20px;
  border-radius: 15px;
}
.team-member-card{
  margin-bottom: -60px;
}
.team-member-card img{
  border-radius: 18px;
  height: 260px;
}
.team-profile{
  position: relative;
  bottom: 90px;
  left: 20px;
}
.team-member-name{
  font-size: 1.5rem;
  font-weight: 700;
}
/* Team section styles end */

/* Unique section styles start */
  .pricing-section{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .pricing-card-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding:60px 25px;
    gap: 20px;
    border-radius: 5px;
  }
  .pricing-card{
    background-color: white;
    padding: 40px 30px;
    padding-bottom: 0px;
    text-align: center;
    border-radius: 10px;
  }
  .pricing-card:hover{
    transform: scale(1.08);
    transition-duration: 1s;
  }
  .price-card-title{
    font-size: 1.7rem;
  }
  .price-card-desc{
    font-size: 0.9rem;
    color: #CBCBCB;
  }
  .pricing-card hr{
    border-top: 1px solid #CBCBCB;
  }
  .price-card-service{
    font-size: 0.9rem;
    color: #D5D5D5;
  }
  .price{
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 15px;
  }
  .get-started-btn{
    padding: 18px 30px;
    border:none;
    background-color: #FF592D;
    color: white;
    border-radius: 42px;
    font-size: 1.1rem;
    position: relative;
    top: 28px;
  }
  .personal-service-card{
    background-color: #FF592D;
    color: white;
    margin-top: -35px;
    margin-bottom: 35px;
  }
  .personal-service-card .highlight{
    color: white;
  }
  .personal-service-card .price{
    color: white;
  }
  .personal-card-btn{
    background-color: white;
    color: #FF592D;
  }
/* Unique section styles end */

/* Footer styles .start. */
  footer{
    background-color: rgba(255, 255, 255, 0.13);
  }
  .footer-section{
    max-width: 80%;
    margin: 0 auto;
  }
  .footer-column-container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
  }
  .footer-column .footer-brand{
    color: #E6533C;
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .footer-col-title{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }

  .footer-col-items-list li{
    list-style: none;
    padding:  8px 0px;
  }
  .footer-col-items-list li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
  }
  .copyright{
    text-align: center;
    padding: 20px 0px;
  }
/* Footer styles .end. */
